@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    height: 100px;
    padding: 0 20px;
    background-color: #222727;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

}
.nav-list {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font: 700;
    font-size: 14px;
}
.nav-type {
    padding: 0 0 0 10px;
    font-weight: 900;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.nav-item {
    align-items: center;
    padding: 0 10px 0 0;
}
.nav-item a {
    text-decoration: none;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 0;
    margin: 0 16px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  .a-1 {
    font-size: 30px;
    text-decoration: none;

}
  .nav ul li .one {
    border-bottom: 2px solid #fff;
    width: max-content;
    padding-bottom: 12px;
  }
  .nav button {
    display: none;
  }

  span {
    color: #fff;
    font-size: 30px !important;
    margin: auto 0;
  }
.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    row-gap: 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
.section-1 .box {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid grey;
}
.section-1 .box p {
    margin-top: 20px;
}
.section-2 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}
.section-2 .box {
    height: auto;
    width: 300px;
    border: 1px solid grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.section-2 .box span {
    font-size: 40px;
    color: #1D5D9B;
}
.section-2 .box h3 {
    color: #1D5D9B;
    letter-spacing: 2px;
}
footer {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid black;
    background-color: #fff;
}
footer .footer-div p {
    margin-top: 10px;
    transition: all .3s;
}
footer .footer-div p:hover {
    transform: scale(1.1);
    background-color: #222727;
    cursor: pointer;
    text-align: center;
    padding: 5px 15px;
    border-radius: 10px;
    color: #fff;
}
footer .div4 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .div4 .icons {
    display: flex;
    column-gap: 10px;
}
footer .div4 .icons i {
    font-size: 30px;
}
footer .div4 div {
    text-align: end;
}
.section-2 {
    flex-wrap: wrap;
    gap: 20px;
}
.section-2 div {
    flex-shrink: 0;
}
@media only screen and (max-width: 1005px) {
    .nav .nav-list {
        display: none;
    }
    .nav button {
        display: block;
    }
    .offcanvas .content {
        height: 100% !important;
    }
    .offcanvas .content  ul {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
    }
    .offcanvas .content  ul li a {
        color: black;
    }
    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    footer > div {
        width: 100%;
        text-align: center;
    }
    footer .div4 {
        text-align: center;
        display: flex;
        align-items: center;
    }
  
    .section-2 {
        flex-wrap: wrap;
        gap: 20px;
    }
}

